:root {
    --color-text-primary: #000000;
    --bg-body: #ffffff;
    --bg-menu: #999999;
    --bg-menu-selected-1: rgba(0, 148, 255, 0.5);
    --bg-menu-selected-2: rgba(255, 123, 0, 0.5);
    --bg-box-1: rgb(170, 170, 170);
    --bg-btn-1: rgb(190, 190, 190);
    --bg-btn-2: #004F88;
}
